.*.sw?
*.o
*.gcda
*.gcno
*.c.gcov
*.out

/cardtest1
/cardtest2
/cardtest3
/cardtest4
/cardtest1_oatmanm
/cardtest2_oatmanm
/cardtest3_oatmanm
/cardtest4_oatmanm
/fdiff
/playdom
/playdom2
/player
/randomtestadventurer
/randomtestcard
/testdominion
/testdominion_alt
/testdominion_oatmanm
/unittest1
/unittest2
/unittest3
/unittest4
/unittest1_oatmanm
/unittest2_oatmanm
/unittest3_oatmanm
/unittest4_oatmanm
